.expense-filter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1; 
   

}
.expense-filter__control{
 font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    text-align: left;
}

/* .new-expense button{
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color:#40005d ;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}
.new-expense button :hover,
.new-expense button :active{
    background-color: #510674;
    border-color:#510674 ;
}
.new-expense button.alternative{
    color: #220131;
    border-color: transparent;
}
.new-expense button.alternative:hover,
.new-expense button.alternative:active{
    background-color: #ddb3f8;
} */
