@import url('https://font.googlapis.com/css2?family=NotoSans+JP:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    margin-left:200px ;
    background-color: aquamarine;
}

.space{
    margin : 2rem 2rem;
    
}
.btn-btn {
    margin-left: -2rem;
    margin-top : -11rem;
}